.App {
  text-align: center;
}

body {
	background-color: #9c9c9c;
}




.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Gran-card {
	height: 50vh;
	margin: 0;
	width: 100%;
	
}

.mitad-gran {
	height: 20vh;
	margin: 0;
	width: 100%;
}

.card {
	height: 25vh;
	width: 100%;
}

.parrafo-card {
	height: 10vh;
	width: 100%;
}
.mitad {
	height: 10vh;
	padding: 0px;
	width: 100%;
	
}

.card-panel {
    transition: box-shadow .25s;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
    border-radius: 2px;
    background-color: #fff;
}



.gris-texto {
	color: darkgray;
}

.gris-fondo {
	background-color: #DDD;
}

.naranja {
	background-color: orangered;
}
.texto-blanco {
	color: #FFF;
}