.App {
  text-align: center;
}





.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Gran-card {
	height: 50vh;
	margin: 0;
	padding: 0;
}

.mitad-gran {
	height: 25vh;
}

.card {
	height: 20vh;
}

.mitad {
	height: 50%;
}



.gris-texto {
	color: darkgray;
}

.gris-fondo {
	background-color: #DDD;
}

.naranja {
	background-color: orangered;
}
